In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV

In [2]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score

In [3]:
import pandas as pd 
bank_df=pd.read_csv('processed_data2.csv')
bank_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,poutcome,y
0,58,9458,27214,13301,44396,2143,25130,37967,13020,5,13766,261,1,-1,36959,0
1,44,7597,12790,23202,44396,29,25130,37967,13020,5,13766,151,1,-1,36959,0
2,33,1487,27214,23202,44396,2,25130,7244,13020,5,13766,76,1,-1,36959,0
3,47,9732,27214,1857,44396,1506,25130,37967,13020,5,13766,92,1,-1,36959,0
4,33,288,12790,1857,44396,1,20081,37967,13020,5,13766,198,1,-1,36959,0

In [4]:
success_df=bank_df[bank_df['poutcome']==1511]
success_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,poutcome,y
24080,56,7597,27214,23202,44396,589,25130,37967,13020,23,738,518,1,147,1511,1
24165,30,5171,27214,23202,44396,873,25130,37967,2906,12,3970,119,1,167,1511,0
24239,48,5171,5207,23202,44396,295,25130,37967,29285,17,3970,123,1,164,1511,0
24264,49,9458,27214,13301,44396,64,20081,37967,29285,17,3970,208,1,159,1511,0
24435,42,7597,27214,13301,44396,14282,25130,37967,29285,17,3970,77,1,103,1511,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45190,32,9732,27214,23202,44396,136,20081,37967,29285,16,3970,206,1,188,1511,1
45193,28,1579,12790,13301,44396,159,20081,37967,29285,16,3970,449,2,33,1511,1
45195,68,2264,27214,23202,44396,1146,20081,37967,29285,16,3970,212,1,187,1511,1
45201,53,9458,27214,13301,44396,583,20081,37967,29285,17,3970,226,1,184,1511,1
45208,72,2264,27214,23202,44396,5715,20081,37967,29285,17,3970,1127,5,184,1511,1

In [5]:
#lets identify features and target
X=bank_df.drop(['y'],axis=1)
y=bank_df['y']

In [6]:
print(X.shape)
print(y.shape)

(45211, 15)
(45211,)

In [7]:
logreg_model=LogisticRegression(class_weight='balanced',max_iter=1000)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state =21)

In [9]:
logreg_model.fit(X_train,y_train)

LogisticRegression(class_weight='balanced', max_iter=1000)

In [10]:
# prediction on y
y_train_pred=logreg_model.predict(X_train)
y_test_pred=logreg_model.predict(X_test)

In [11]:
#accuracy check on train and test data
print('accuracy score of training data using logreg model: ',accuracy_score(y_train,y_train_pred))
print('accuracy score of testing data using logreg model: ',accuracy_score(y_test,y_test_pred))

accuracy score of training data using logreg model:  0.8111037381110374
accuracy score of testing data using logreg model:  0.8064801503925688

In [12]:
#lets save this model
import pickle
# open a file, where you ant to store the data
file = open('log_reg_model.pkl', 'wb')

# dump information to that file
pickle.dump(logreg_model, file)
file.close()

In [13]:
model = pickle.load(open('log_reg_model.pkl', 'rb'))

In [14]:
prediction=model.predict([[58,9458,27214,13301,44396,2143,25130,37967,13020,5,13766,261,1,-1,36959]])

In [15]:
res=prediction[0]
print(res)

0

In [16]:
prediction=model.predict([[72,2264,27214,23202,44396,5715,20081,37967,29285,17,3970,1127,5,184,1511]])

In [17]:
res=prediction[0]
print(res)

1

In [18]:
pred=model.predict([[32,9732,27214,23202,44396,136,20081,37967,29285,16,3970,206,1,188,1511]])

In [19]:
result=pred[0]
print(result)

1